<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>The Name of the Student is {{name}}</h1>
        {% if age > 15 %}
        <h1>The Age of the Student is {{age}}</h1>
        {% endif %}

        {% for i in name %}
            <h1>{{i}}</h1>
        {% endfor %}
        {% for i in hobbies %}
            <h1>{{i}}</h1>
        {% endfor %}

        <a href="{% url 'jinja_operations' %}">Click here to go operations page</a>

    </center>
</body>
</html>